<style>

        body
    {
        background: #333333;
    }
    
    .background-image {
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("Images/bosque_en_invierno-1920x1200.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    
    .background-div {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #333333;
    }
    
    /*** HEADER ***/
    .title-container
    {
        padding: 0px;
        margin: 0px;
        padding-top: 1vh;   
    }
    
    .title-image
    {
        margin-top: 2vh;
        width: 15vw;
        opacity: 0.8;
    }
    
    .title-ip
    {
        background: white;
        border-radius: 20px;
        font-size: 1.2vw;
        color: #333333;
        text-align: center;
        margin: auto;
        margin-top: 2vh;
        opacity: 0.6;
        width: 12vw;
    }
    
    .watch-col {
        padding: 0px !important;
    }
    
    .watch-div {
        margin-top: 1vh;
        float: right;
        width: 90%;
        opacity: 0.8;
    }
    
    .time
    {
        text-shadow: 2px 2px #333333;
        color: white;
        font-size: 3vw;
        float: right;
        
        padding: 0px i;
        padding-left: 1vw;
        padding-right: 2vw;
        margin-top: 0vw;
    }
    
    .date
    {
        text-shadow: 2px 2px #333333;
        margin-top: 2vh;
        color: white;
        font-size: 1.3vw;
        float: right;
        
        padding: 0px;
        padding-left: 1vw;
        padding-right: 2vw;
        margin-top: 0.5vw;
    }
    
    
    /*** CONTAINER INFO ***/
    .container-info {
        position: absolute;
        top: 60vh;
        padding: 2vw;
        width: 100%;
        
    }
    
    .info {
        color: white;
        opacity: 1;
        text-align: center;
        font-size: 2em;
        
        animation: stun 6s ease-in-out infinite;
    }
    
    /*** CONTAINER APP ***/
    .container-app {
        position: absolute;
        top: 80vh;
        padding-left: 2vw;
        padding-right: 2vw;
        width: 100%;
        
    }
    
    .bar-div {
        background: white;
        width: 100%;
        height: 0.5vh;
        margin-top: 1vh;
        box-shadow: 2px 2px 2px #333333;
        opacity: 0.4;
    }
    
    
    /*** FOOTER ***/
    .footer-div
    {
        /*background: #2d384d;*/
        opacity: 1;
        min-height: 30px;
        height: 8vh;
        max-height: 70px;
    }

    .footer-div .version
    {
        color: white;
        font-style: italic;
        font-size: 1.1vw;
        text-shadow: 2px 2px #333333;

        margin-top: 0vh;
        margin-right: 2vw;
        padding: 0.5vw;
        opacity: 0.8;
    }

    
    @keyframes stun {
        0% { margin-left: 0px; }
        2% { margin-left: -10px; }
        4% { margin-left: 10px; }
        6% { margin-left: -10px; }
        8% { margin-left: 10px; }
        10% { margin-left: -10px; }
        12% { margin-left: 10px; }
        14% { margin-left: 0px; }
        100% { margin-left: 0px; }
    }

</style>


<div ng-controller="mainMenuCtrl">

    <div class="background-image"></div>
    <div class="background-div"></div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            
            <div class="col-md-6">
                <div class="title-ip">{{ ip }}</div>
            </div>
            
            <div class="col-md-3 watch-col">
                <watch-component show-date="true"></watch-component>
            </div>
        </div>
    </div>
    
    
    <div class="container-info">
        <div class="info">Conectame a tu telefono, ¿a que esperas?</div>
    </div>
    
    <div class="container-app">
        <img class="title-image" src="Images/spin_box_title.svg" role="button"/>
        <div class="bar-div"></div>
    </div>
    
    <div id="footer" class="footer navbar-fixed-bottom footer-div">
        <div id="user-message" ng-show="showMess" class="pull-left user-message"> {{ userMessage }} </div>
        <div id="version" class="pull-right version">V {{ version }}</div>
    </div>

</div>