<style>

    
    body {
        font-size: 4em;
    }
    
    .moonlight-table {
        margin-top: 10vh;
        font-size: 1em;
        background: #dddddd;
    }
    
    .moonlight-table tr {
        height: 7vh;
    }
    
    .options-name {
        width: 50vw;
        padding-left: 5vw;
    }
    
    .ip-input {
        background: #333333;
        color: white;
        border: 0px solid;
        outline: none;
        width: 70%;
        height: 60%;
        border-radius: 50px;
        font-size: 1em;
        padding-left: 0vw;
        opacity: 0.8;
        text-align: center;
    }
    
    .moonlight-radio-button {
        display: inline-block;
        width: 20vw;
        text-align: center;
        background: #333333;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-radio-button:hover {    
        background: #e9da57;
        text-shadow: 2px 2px #555555;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-radio-button:active {
        transform: scale(0.8);
        transition: 0.3s;
    }
    
    .moonlight-radio-button-selected { 
        display: inline-block;
        width: 20vw;
        text-align: center;
        background: #e9da57;
        text-shadow: 2px 2px #555555;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-button {
        text-align: center;
        text-shadow: 2px 2px #555555;
        color: white;
        background: #e9da57;
        margin: 2vw;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-button:active {
        transform: scale(0.8);
        transition: 0.3s;
    }

</style> 


<div ng-controller="moonlightMenuCtrl">

        <table class="moonlight-table">
            <tr>
                <td class="options-name"><span>Remote IP:</span></td>
                <td class="options-value"><input class="ip-input" id="ip" type="text" ng-model="moonlightOptions.remoteIP" ng-value="moonlightOptions.remoteIP"/></td>
            </tr>

            <tr>
                <td class="options-name"><span>Resolution:</span></td>
                <td class="inline-radios">
                    <div class="moonlight-radio-button" id="1080Radio" ng-click="setActive('resolution', '1080Radio')" name="resolution" role="button"> 1080p</div>
                    <div class="moonlight-radio-button" id="720Radio" ng-click="setActive('resolution', '720Radio')" name="resolution" role="button"> 720p</div>
                </td>
            </tr>

            <tr>
                <td class="options-name"><span>Frames per Second:</span></td>
                <td class="inline-radios">
                    <div class="moonlight-radio-button" id="60fpsRadio" ng-click="setActive('fps', '60fpsRadio')" ng-model="moonlightOptions.fps" name="fps" ng-value="'60'" role="button"> 60fps</div>
                    <div class="moonlight-radio-button" id="30fpsRadio" ng-click="setActive('fps', '30fpsRadio')"  ng-model="moonlightOptions.fps" name="fps" ng-value="'30'" role="button"> 30fps</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="moonlight-button" id="pairButton" ng-click="pairMoonlight()" role="button">
                        PAIR
                    </div>
                </td>
                <td>
                    <div class="moonlight-button" id="streamButton" ng-click="launchSteam()" role="button">
                        STREAM
                    </div>
                </td>
            </tr>

        </table>


</div>