<style>

    body {
        font-size: 5em;
    }
    
    .title {
        padding-left: 2vw;
        font-weight: 600;
        font-size: 2em;
    }
    
    .option-div {
        animation: growUp 0.3s ease-in-out;
        margin-bottom: 2vh;
    }
    
    .option-name {
        background: #dddddd;
        color: #333333;
        font-size: 1em;
        padding-left: 1vw;
    }
    
    .option-rect {
        height: 20vh;
        background: #aaaaaa;
    }
    
    @keyframes growUp {
        0% { transform: scale(0); }
        70% {   transform: scale(1.05); }
        100% {   transform: scale(1); }
    }
    
</style>

<div ng-controller="remoteMenuCtrl">

<div class="container-fuid">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2 class="title">SPIN BOX</h2>
            <h5 class="title">REMOTE CONTROL</h5>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6 option-div" ng-repeat="option in options" role="button" ng-click="setLocation(option.location)">
            <div class="option-name" role="button">{{ option.name }}</div>
            <div class="option-rect"></div>
        </div>
    </div>
</div>


</div>