<style>
    
    body {
        background: #37445b;
    }

    
    .header {
        background: #2d384d;
        height: 11vh;
        padding: 1vh;
    }
    
    .header-title {
        color: white;
        font-size: 4em;
        margin-left: 1vw;
    }
    
    .time
    {
        margin-top: 1vh;
        display: block;
        color: white;
        font-size: 3vw;
        float: right;
    }
    
    .options-container {
        padding: 1vw;
        width: 5%;
        float: left;
        background: #2d384d;
        height: 81vh;
        width: 25%;
    }
    
    .apps-container {
        padding: 1vw;
        width: 70%;
        float: right;
    }
    
    .app-image {
        transition: all 0.3s ease;
        width: 100%;
        opacity: 0.7;
        animation: putDown 1s linear;
    }
    
    .app-image:hover {
        transition: all 0.3s ease;
        opacity: 1;
    }

    .footer-div
    {
        background: #2d384d;
        opacity: 1;
        min-height: 30px;
        height: 8vh;
        max-height: 70px;
    }
    
    .back-button {
        width: 3vw;
        margin: 0.5vw;
    }

    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fademidin {
        from { opacity: 0; }
        to   { opacity: 0.7; }
    }
    
    @keyframes putDown {
        0% { opacity: 0; transform: scale(1.2); }
        50% { opacity: 0.2; }
        80% { opacity: 0.5; }
        80% { opacity: 0.7; }
    }


</style>    
    

<div ng-controller="appsMenuCtrl">
    <div class="header container-fluid">
        <div class="col-xs-6 col-md-6">
            <div class="header-title">Apps</div>
        </div>
        <div class="col-xs-6 col-md-6 watch">
            <watch-component show-date="false"></watch-component>
        </div>
    </div>
    
    <div class="container-fluid options-container">
        
    </div>
    
    <div class="container-fluid apps-container">
        <div ng-repeat="app in apps" class="col-xs-3 col-md-3 apps-col">
            <div id="{{app.name}}" class="apps-div" role="button">
                <img class="app-image" ng-src="{{ app.image }}">
            </div>
        </div>
    </div>
    
    
    <div id="footer" class="footer navbar-fixed-bottom footer-div">
        <div id="user-message" ng-show="showMess" class="pull-left user-message"> {{ userMessage }} </div>
        <div id="back-button" class="pull-right"><img class="back-button" src="images/buttons/back_button.svg" role="button" ng-click="setLocation('/main')"></div>
    </div>
        
</div>