<style>
    
    body {
        background: #888888;
    }

    .emulator-background {
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("images/emulators/snes_background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        filter: blur(6px);
        -webkit-filter: blur(6px);
    }
    
    .emulator-background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #999999;
        opacity: 0.7;
    }
    
    .header {
        /*background: #2d384d;*/
        height: 11vh;
        padding: 1vh;
    }
    
    .header-title {
        background: #fba443;
        color: white;
        font-size: 3vw;
        text-shadow: 2px 2px #555555;
        float: left;
        
        padding: 0px;
        padding-left: 2vw;
        padding-right: 1vw;
        margin-top: 1.5vw;
    }
    
    .time {
        background: #189a99;
        text-shadow: 2px 2px #555555;
        color: white;
        font-size: 3vw;
        float: right;
        
        padding: 0px;
        padding-left: 1vw;
        padding-right: 2vw;
        margin-top: 1.5vw;
    }
    
    .container-emulators {
        padding: 1vw;
        width: 73%;
        float: right;
    }
    
    .emulator-image {
        transition: all 0.3s ease;
        opacity: 0.8;
        animation: putDown 0.3s ease-in-out;
    }
    
    .emulator-image:hover {
        transition: all 1s linear;
        opacity: 1;
    }

    .footer-div
    {
        /*background: #2d384d;*/
        opacity: 1;
        min-height: 30px;
        height: 8vh;
        max-height: 70px;
    }
    
    .back-button {
        width: 3vw;
        margin: 0.5vw;
    }
    
    .emulators-col {
        margin-top:3vh;
    }
    
    .emulator-info-div.ng-enter {
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }

    .emulator-info-div.ng-enter-active {
        opacity: 1;
    }

    .emulator-info-div.ng-leave {
        opacity: 1;
    }

    .emulator-info-div.ng-leave-active {
        opacity: 0;
    }

    
    @keyframes putDown {
        0% { opacity: 0; transform: scale(1.2); }
        50% { opacity: 0.2; }
        80% { opacity: 0.5; }
        100% { opacity: 0.8; }
    }


</style>    
    

<div ng-controller="emulatorsMenuCtrl">
    
    <div class="header-title">Emulators</div>
    <watch-component show-date="false"></watch-component>
    <div id="background-image" class="emulator-background"></div>
    <div id="background-color" class="emulator-background-color"></div>
    
    <div class="header container-fluid">
        <div class="col-xs-6 col-md-6">
            
        </div>
        <div class="col-xs-6 col-md-6 watch">
            
        </div>
    </div>
    
    
    <div ng-controller="emulatorInfoCtrl" ng-repeat="emulator in emulators">
        <div class="emulator-info-div" ng-if="getShowInfo(emulator.id)">
            <emulators-info width="25" height="66" name="emulator.name" src="emulator.infoImage" top="emulator.topRoms"></emulators-info>
        </div>
    </div>

    
    <div class="container-fluid container-emulators" >
        <div ng-repeat="emulator in emulators" class="col-xs-3 col-md-3 emulators-col emulator-image">
            <gravity-button id="emulator.id" width="16" height="8" src="emulator.image" shadow-color="#333333" top="emulator.top" toggle="toggleTop(id, top, callback)" select="selectEmulator(id)" ng-mouseenter="setShowInfo(emulator.id)"></gravity-button>
        </div>
    </div>
    
    <user-message></user-message>
    <back-button background="#5d486a" location="/main"></back-button>
    
</div>