<style>
    
    body {
        background: #37445b;
    }

    .moonlight-background-image {
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("images/web/web_background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        filter: blur(6px);
        -moonlightkit-filter: blur(6px);
    }
    
    .moonlight-background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #37445b;
        opacity: 0.7;
    }
    
    .header {
        /*background: #2d384d;*/
        height: 11vh;
        padding: 1vh;
    }
    
    .header-title {
        background: #e9da57;
        color: white;
        font-size: 3vw;
        text-shadow: 2px 2px #555555;
        float: left;
        
        padding: 0px;
        padding-left: 2vw;
        padding-right: 1vw;
        margin-top: 1.5vw;
    }
    
    .time {
        background: #189a99;
        text-shadow: 2px 2px #555555;
        color: white;
        font-size: 3vw;
        float: right;
        
        padding: 0px;
        padding-left: 1vw;
        padding-right: 2vw;
        margin-top: 1.5vw;
    }
    
    .moonlight-config-container {
        display: inline-block;
        width: 40vw;
        padding: 1vw;
    }
    
    .moonlight-games-container {
        display: inline-block;
        width: 59vw;
        padding: 1vw;
    }
    
    .moonlight-config-div {
        height: 70vh;
        background: #aaaaaa;
        width: 100%;
        opacity: 0.8;
        box-shadow: 10px 10px 5px #333333;
    }
    
    .moonlight-games-div {
        height: 70vh;
        background: #aaaaaa;
        width: 100%;
        opacity: 0.8;
        box-shadow: 10px 10px 5px #333333;
    }

    .moonlight-config-form {
        position: absolute;
        top: 11vh;
        width: 38vw;
        height: 70vh;
        margin: 1vw;
        
    }
    
    .moonlight-table {
        margin: 2vw;
        font-size: 1.2vw;
    }
    
    .moonlight-table tr {
        height: 4vh;
    }
    
    .options-name {
        width: 15vw;
    }
    
    .ip-input {
        background: #333333;
        color: white;
        border: 0px solid;
        outline: none;
        width: 70%;
        height: 100%;
        border-radius: 50px;
        font-size: 1.2vw;
        padding-left: 0vw;
        opacity: 0.8;
        text-align: center;
    }
    
    .moonlight-radio-button {
        display: inline-block;
        width: 5vw;
        text-align: center;
        background: #333333;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-radio-button:hover {    
        background: #e9da57;
        text-shadow: 2px 2px #555555;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-radio-button:active {
        transform: scale(0.8);
        transition: 0.1s;
    }
    
    .moonlight-radio-button-selected { 
        display: inline-block;
        width: 5vw;
        text-align: center;
        background: #e9da57;
        text-shadow: 2px 2px #555555;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-button {
        text-align: center;
        text-shadow: 2px 2px #555555;
        color: white;
        background: #e9da57;
        margin: 2vw;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-button:active {
        transform: scale(0.8);
        transition: 0.1s;
    }

</style>    
    

<div ng-controller="moonlightCtrl">
    
    <div class="header-title">Moonlight</div>
    <watch-component show-date="false"></watch-component>
    <div id="background-image" class="moonlight-background-image"></div>
    <div id="background-color" class="moonlight-background-color"></div>
    
    <div class="header"></div>
    
    <div class="moonlight-config-container">
        <div class="moonlight-config-div"></div>
    </div>
    
    <div class="moonlight-games-container">
        <div class="moonlight-games-div"></div>
    </div>
    
    <div class="moonlight-config-form">
        <table class="moonlight-table">
            <tr>
                <td class="options-name"><span>Remote IP:</span></td>
                <td class="options-value"><input class="ip-input" id="ip" type="text" ng-model="moonlightOptions.remoteIP" ng-value="moonlightOptions.remoteIP"/></td>
            </tr>

            <tr>
                <td class="options-name"><span>Resolution:</span></td>
                <td class="inline-radios">
                    <div class="moonlight-radio-button" id="1080Radio" ng-click="setActive('resolution', '1080Radio')" name="resolution" role="button"> 1080p</div>
                    <div class="moonlight-radio-button" id="720Radio" ng-click="setActive('resolution', '720Radio')" name="resolution" role="button"> 720p</div>
                </td>
            </tr>

            <tr>
                <td class="options-name"><span>Frames per Second:</span></td>
                <td class="inline-radios">
                    <div class="moonlight-radio-button" id="60fpsRadio" ng-click="setActive('fps', '60fpsRadio')" ng-model="moonlightOptions.fps" name="fps" ng-value="'60'" role="button"> 60fps</div>
                    <div class="moonlight-radio-button" id="30fpsRadio" ng-click="setActive('fps', '30fpsRadio')"  ng-model="moonlightOptions.fps" name="fps" ng-value="'30'" role="button"> 30fps</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="moonlight-button" id="pairButton" ng-click="pairMoonlight()" role="button">
                        PAIR
                    </div>
                </td>
                <td>
                    <div class="moonlight-button" id="streamButton" ng-click="launchSteam()" role="button">
                        STREAM
                    </div>
                </td>
            </tr>

        </table>
    </div>
    
    <user-message></user-message>
    <back-button background="#5d486a" location="/main"></back-button>
</div>