<style>
    
    body {
        background: #333333;
    }

    .roms-background {
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("images/emulators/snes_background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        filter: blur(6px);
        -webkit-filter: blur(6px);
    }
    
    .roms-background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #333333;
        opacity: 0.9;
    }
    
    .header {
        /*background: #2d384d;*/
        height: 11vh;
        padding: 1vh;
    }
    
    .header-title {
        background: #c2d46d;
        color: white;
        font-size: 3vw;
        text-shadow: 2px 2px #555555;
        float: left;
        
        padding: 0px;
        padding-left: 2vw;
        padding-right: 1vw;
        margin-top: 1.5vw;
    }
    
    .time {
        background: #189a99;
        text-shadow: 2px 2px #555555;
        color: white;
        font-size: 3vw;
        float: right;
        
        padding: 0px;
        padding-left: 1vw;
        padding-right: 2vw;
        margin-top: 1.5vw;
    }
    
    .roms-tools-container {
        margin-top: 4vh;
    }
    
    .searcher-col {
        height: 4.5vh;
    }
    
    .search-text {
        color: white;
        font-size: 1.8vw;
        margin-right: 1vw;
    }
    
    .searcher-input {
        background: #333333;
        color: white;
        border: 0px solid;
        outline: none;
        width: 70%;
        height: 100%;
        border-radius: 50px;
        font-size: 1.2vw;
        padding-left: 2vw;
        opacity: 0.8;
    }
    
    .update-div {
        height: 4.5vh;
        border-radius: 50px;
        color: white;
        background: #c2d46d;
        width: 24vw;
        padding-top: 0vh;
        margin-top: 0.5vh;
    }
    
    .update-mess {
        font-size: 1.8vw;
        padding-left: 1vw;
        text-shadow: 2px 2px #a8b66b;
    }
    
    .update-button {        
        font-size: 1.8vh;
        padding: 1vh;
        margin-top: 0px;
        text-shadow: 2px 2px #97a55a;
        background: #a8b66b;
        width: 5vw;
        border-radius: 50px;
        float: right;
        text-align: center;
        
        transition: width 0.2s ease-in-out;
    }
    
    .update-button:hover {
        transition: width 0.2s ease-in-out;
        width: 6vw;
    }
    
    .roms-container {
        padding: 2vh;
        margin-top: 5vh;
        height: 12vh;
    }
    
    .rom-image {
        width: 100%;
        height: 15vh;
    }
    
    .rom-name {
        margin: 1vh;
        height: 3.5vh;
        text-align: center;
    }
    
    .rom-div {
        background: #aaaaaa;
        color: #333333;
        font-size: 1.2vw;
        opacity: 0.8;
    }
    
    .rom-div {
        transition: all 0.2s ease-in-out;
        background: #aaaaaa;
        color: #333333;
        font-size: 1.2vw;
        opacity: 0.8;
    }
    
    .rom-div:hover {
        transition: all 0.2s ease-in-out;
        opacity: 1;
        transform: scale(1.05);
        animation: putUp 0.3s ease-in-out;
    }

    .footer-div
    {
        /*background: #2d384d;*/
        opacity: 1;
        min-height: 30px;
        height: 8vh;
        max-height: 70px;
    }
    
    .back-button {
        width: 3vw;
        margin: 0.5vw;
    }

    
    .roms-image-init-anim {
        animation: putDown 0.3s ease-in-out;
    }
    
    @keyframes putUp {
        0% { opacity: 0.8; transform: scale(1); }
        80% { opacity: 1; transform: scale(1.1); }
        100% { opacity: 1; transform: scale(1.05); }
    }
    
    @keyframes putDown {
        0% { opacity: 0; transform: scale(1.2); }
        50% { opacity: 0.2; }
        80% { opacity: 0.5; }
        100% { opacity: 0.8; }
    }


</style>    
    

<div ng-controller="romsCtrl">
    
    <div class="header-title">{{emulatorName}}</div>
    <watch-component show-date="false"></watch-component>
    <div id="background-image" class="roms-background"></div>
    <div id="background-color" class="roms-background-color"></div>
    
    <div class="header container-fluid">
        <div class="col-xs-6 col-md-6">
            
        </div>
        <div class="col-xs-6 col-md-6 watch">
            
        </div>
    </div>

    <div class="container-fluid roms-tools-container">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-4 col-md-4 searcher-col">
            <span class="search-text">Filter:</span><input class="searcher-input" type="text" ng-model="nameFilter">
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="update-div" ng-if="showRomsMessage">
                <span class="update-mess"> {{numRoms}} {{ romsMessage }} </span><span class="update-button" ng-click="updateRoms()" role="button">Update</span>
            </div>
        </div>
    </div>

    <div class="container-fluid roms-container">
        <div ng-repeat="rom in roms | filter: {name: nameFilter}" class="col-xs-2 col-md-2">
            <div class="rom-div roms-image-init-anim" role="button" ng-click="launchRom(rom.file)">
                <img class="rom-image" ng-if="rom.image == ''" src="images/roms/no_rom_image_avail.png">
                <img class="rom-image" ng-if="rom.image != ''" src="images/roms/no_rom_image_avail.png">
                <div class="rom-name"> {{rom.name}} </div>
            </div>
        </div>
    </div>
    
    <user-message></user-message>
    <back-button background="#5d486a" location="/emulators"></back-button>
</div>