<style>
    
    body {
        background: #37445b;
    }

    .web-background-image {
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("images/web/web_background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        filter: blur(6px);
        -webkit-filter: blur(6px);
    }
    
    .web-background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #37445b;
        opacity: 0.7;
    }
    
    .header {
        /*background: #2d384d;*/
        height: 11vh;
        padding: 1vh;
    }
    
    .header-title {
        background: #c2d46d;
        color: white;
        font-size: 3vw;
        text-shadow: 2px 2px #555555;
        float: left;
        
        padding: 0px;
        padding-left: 2vw;
        padding-right: 1vw;
        margin-top: 1.5vw;
    }
    
    .time {
        background: #189a99;
        text-shadow: 2px 2px #555555;
        color: white;
        font-size: 3vw;
        float: right;
        
        padding: 0px;
        padding-left: 1vw;
        padding-right: 2vw;
        margin-top: 1.5vw;
    }
    
    .searcher-col {
        margin-top: 4vh;
        height: 4.5vh;
    }
    
    .search-text {
        color: white;
        font-size: 1.8vw;
        margin-right: 1vw;
    }
    
    .searcher-input {
        background: #317797;
        color: white;
        border: 0px solid;
        outline: none;
        width: 70%;
        height: 100%;
        border-radius: 50px;
        font-size: 1.2vw;
        padding-left: 2vw;
        opacity: 0.8;
    }
    
    .web-container {
        padding: 2vh;
        margin-top: 4vh;
        height: 12vh;
    }
    
    .web-container-back {
        position: absolute;;
        background: #aaaaaa;
        opacity: 0.7;
        width: 100%;
        height: 13vh;
    }
    
    .container-1 {
        top: 25vh;
    }
    
    .container-2 {
        top: 40vh;
    }
    
    .web-image {
        transition: all 0.3s ease-in-out;
        width: 6vw;
        border-radius: 50%;
        opacity: 0.8;
    }
    
    .web-image:hover {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        transform: scale(1.1);
        animation: putUp 0.3s ease-in-out;
    }

    .footer-div
    {
        /*background: #2d384d;*/
        opacity: 1;
        min-height: 30px;
        height: 8vh;
        max-height: 70px;
    }
    
    .back-button {
        width: 3vw;
        margin: 0.5vw;
    }

    
    .web-image-init-anim {
        animation: putDown 0.3s ease-in-out;
    }
    
    @keyframes putUp {
        0% { opacity: 0.8; transform: scale(1); }
        80% { opacity: 1; transform: scale(1.2); }
        100% { opacity: 1; transform: scale(1.1); }
    }
    
    @keyframes putDown {
        0% { opacity: 0; transform: scale(1.2); }
        50% { opacity: 0.2; }
        80% { opacity: 0.5; }
        100% { opacity: 0.8; }
    }


</style>    
    

<div ng-controller="webMenuCtrl">
    
    <div class="header-title">Web</div>
    <watch-component show-date="false"></watch-component>
    <div id="background-image" class="web-background-image"></div>
    <div id="background-color" class="web-background-color"></div>
    
    <div class="header container-fluid">
        <div class="col-xs-6 col-md-6">
            
        </div>
        <div class="col-xs-6 col-md-6 watch">
            
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-4 col-md-4 searcher-col">
            <span class="search-text">Filter:</span><input class="searcher-input" type="text" ng-model="nameFilter">
        </div>
    </div>

    <div class="container-fluid web-container-back container-1"></div>
    <div class="container-fluid web-container-back container-2"></div>
    <div class="container-fluid web-container">
        <div ng-repeat="web in webPages | filter: {name: nameFilter}" class="col-xs-1 col-md-1">
            <div class="">
                <img class="web-image web-image-init-anim" ng-src="{{web.icon}}" role="button" ng-click="setPage(web.action)">
            </div>
        </div>
    </div>
    
    
    <user-message></user-message>
    <back-button background="#37445b" location="/main"></back-button>
</div>