<style>
        
    img
    {
        width: 100%;
    }
    
    #kodi-button
    {   
        font-weight: 900;
        height: 70px;
        background: #333333;
        
        font-size: 3em;
        vertical-align: middle;
        color: white;
        text-align: center;
        
        transition: all .3s ease;
        filter: brightness(100%);
        
        -webkit-filter: brightness(100%);
        
        -webkit-transition: all .3s ease;
    }
    
    
    #kodi-button:hover
    {   
        
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
    }

    
    #kodi-config
    {
        background: #dddddd;

        position: relative;
        vertical-align: middle;
        
    }


</style>

<div ng-controller="kodiCtrl">
    <div>
        <img ng-src="images/kodi.png" ng-click="switchHideOptions()" role="button" />
    </div>
    
    <div id="kodi-config" ng-hide="hideOptions">
        <form rol="form" novalidate>
            <div id="kodi-button" ng-click="launchKodi()" role="button">
                LANZAR KODI
            </div>
            
            </div>
        </form>
    </div>
</div>