<style>

    #type-text
    {
        padding: 0px;
        margin-top: 30px;
        height: 80px;
    }
    
    #type-text input
    {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        height: 80px;
        width: 100%;
        font-size: 3.5em;
    }
    
    #send-text
    {
        display: table;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-top: 30px;
        height: 80px;
        background: #d41c3b;
        
        font-weight: 600;
        font-size: 2.2em;
        text-align: center;
        color: white;
    }  
    
    span
    {
        display: table-cell;
        vertical-align: middle 
    }
    
    #send-text:hover
    {
        background: white;
        color: #d41c3b;
    }

    
    #move-mouse
    {
        background: #d41c3b; 
    }
    
    #scroll-mouse
    {
        background: #d41c3b;   
    }

</style>


<div ng-controller="mouseCtrl">

    <div class="container-fluid">
        <div id="type-text" class="col-xs-10">
            <input type="text" ng-model="text2Send"/>
        </div>
        <div id="send-text" class="col-xs-2" role="button"><span ng-click="sendText()">ENVIAR</span></div>
        
        <div id="send-button" class="col-xs-12 col-md-12" role="button"><span ng-click="sendButton('enter')">ENTER</span><span ng-click="sendButton('backspace')">BORRAR</span></div>

        <div id="move-mouse" class="col-xs-9" ng-mousedown="onMouseDown($event)" ng-mouseup="onMouseUp()" ng-mousemove="onMouseDrag($event)" ng-mouseleave="onMouseUp()"></div>
        <div class="col-xs-1"></div>
        <div id="scroll-mouse" class="col-xs-2" ng-mousedown="onMouseDown($event)" ng-mouseup="onScrollUp()" ng-mousemove="onMouseScroll($event)" ng-mouseleave="onMouseUp()"></div>
    </div>

</div>