<style>
        
    img
    {
        width: 100%;
    }
    
    #netflix-button
    {   
        font-weight: 900;
        height: 70px;
        background: #000000;
        
        font-size: 3em;
        vertical-align: middle;
        color: white;
        text-align: center;
        
        transition: all .3s ease;
        filter: brightness(100%);
        
        -webkit-filter: brightness(100%);
        
        -webkit-transition: all .3s ease;
    }
    
    
    #netflix-button:hover
    {   
        color: #dc0505;
        background: white;
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
    }

    
    #netflix-config
    {
        background: #dddddd;

        position: relative;
        vertical-align: middle;
        
    }


</style>

<div ng-controller="netflixCtrl">
    
    <div>
        <img ng-src="images/netflix2.png" ng-click="switchHideOptions()" role="button"/>
    </div>
    
    <div id="netflix-config" ng-hide="hideOptions">
        <form rol="form" novalidate>
            <div id="netflix-button" ng-click="launchNetflix()" role="button">
                LANZAR NETFLIX
            </div>
            
            </div>
        </form>
    </div>

    
</div>