<style>

    img
    {
        width: 100%;   
    }
    
    #retro-button
    {
        
        font-weight: 900;
        height: 70px;
        background: #c02b3c;
        
        font-size: 3em;
        vertical-align: middle;
        color: #ffe400;
        text-align: center;

        transition: all .3s ease;
        filter: brightness(100%);
        
        -webkit-filter: brightness(100%);
        
        -webkit-transition: all .3s ease;
    }
    
    
    #retro-button:hover
    {   
        
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
    }
    
    
    #retropie-config
    {
        background: #dddddd;
    }

</style>

<div ng-controller="retropieCtrl">
    <div>
        <img ng-src="images/retropie.png" ng-click="switchHideOptions()" role="button" />
    </div>
    
    <div id="retropie-config" ng-hide="hideOptions">
        <form rol="form" novalidate>
            <div id="retro-button" ng-click="launchRetropie()" role="button">
                <span>LANZAR RETROPIE</span>
            </div>
        </form>
    </div>
</div>