<style>
    
    .steam-config
    {
        padding: 1vw;
        padding-left: 1vw;
        padding-right: 1vw;
        
        height: auto;
        
        background: #222222;
        color: white;
        font-size: 1.5em;
        
        //border-style: solid;
        //border-width: 0.2em;
        //border-color: #333333;
    }
    
    .steam-button
    {
        font-weight: 900;
        height: 5vh;
        width: 80%;
        background: #d41c3b;
        
        font-size: 1.2em;
        vertical-align: middle;
        color: white;
        text-align: center;
        
        margin-top: 1vh;

        transition: all .1s ease;
        filter: brightness(100%);
        
        transition: all .3s; /* Safari */
       -webkit-transition: all .3s; /* Safari */
    }
    
    
    .steam-button:hover
    {   
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        background: white;
        color: #d41c3b;
    }
    
    .steam-button-focus
    {   
        font-weight: 900;
        height: 5vh;
        width: 80%;
        
        font-size: 1.2em;
        vertical-align: middle;
        text-align: center;
        
        margin-top: 1vh;
        
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        background: white;
        color: #d41c3b;
    }
    
    
    .input-ip
    {
        color: #333333;   
        text-align: center;
        width: 12vw;
    }
    
    .input-ip-focus
    {
        color: #333333;   
        text-align: center;
        width: 12vw;
        
        border-color: #d41c3b;
        border-width: 0.5vh;
        border-style: solid;
    }
    
    table
    {
        padding: auto;
        margin: auto;
    }
    
    td
    {
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 3vh;
        padding-right: 3vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .radio-button
    {
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        
        font-weight: 800;
        display: inline-block;
        text-align: center;
        padding: 0.5vh;
        width: 7vw;
        height: 3vw;
        
        background: #d41c3b;
        color: white;
    }
    
    .radio-button:hover
    {
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        
        display: inline-block;
        font-weight: 800;
        background: white;
        color: #d41c3b;
    }
    
    .radio-button-focus
    {
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        
        font-weight: 800;
        width: 7vw;
        height: 3vw;
        display: inline-block;
        text-align: center;
        padding: 0.5vh;
        
        background: white;
        color: #d41c3b;
    }
    
    .radio-button-select
    {
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        
        text-align: center;
        font-weight: 800;
        width: 7vw;
        height: 3vw;
        padding: 0vh;
        display: inline-block;
        
        border-width: 0.2em;
        border-style: solid;
        border-color:  white;
    }
    
    .radio-button-select:hover
    {
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        
        background: white;
        border-color: #d41c3b;
        color: #d41c3b;
    }
    
    .radio-button-select-focus
    {
        transition: all .3s; /* Safari */
        -webkit-transition: all .3s; /* Safari */
        
        text-align: center;
        font-weight: 800;
        width: 7vw;
        height: 3vw;
        display: inline-block;
        background: white;
        color: #d41c3b;
        
        border-width: 0.2em;
        border-style: solid;
        border-color: #d41c3b;
    }
    
    #inline-radios
    {
        display: inline-block;
        margin: 0px;
        height: 8vh;
        width: 20vw;
    }
    
    #options-name
    {
        font-size: 0.9em; 
    }  
    


</style>

<div ng-controller="RPIsteamCtrl">

    
    <div class="steam-config">
        <form rol="form" novalidate>

            <table>
                <tr>
                    <td id="options-name"><span>IP remota:</span></td>
                    <td id="options-value"><input id="ip" type="text" ng-model="steamOptions.remoteIP" ng-value="steamOptions.remoteIP"/></td>
                </tr>
                
                <tr>
                    <td id="options-name"><span>Resolución:</span></td>
                    <td id="inline-radios">
                        <div id="1080Radio" ng-click="setActive('resolution', '1080')" ng-model="steamOptions.resolution" name="resolution" ng-value="'1080'" role="button"> 1080p
                        </div>
                        <div id="720Radio" ng-click="setActive('resolution', '720')" ng-model="steamOptions.resolution" name="resolution" ng-value="'720'" role="button"> 720p
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td id="options-name"><span>Imágenes por segundo:</span></td>
                    <td id="inline-radios">
                        <div id="60fpsRadio" ng-click="setActive('fps', '60')" ng-model="steamOptions.fps" name="fps" ng-value="'60fps'" role="button"> 60fps
                        </div>
                        <div id="30fpsRadio" ng-click="setActive('fps', '30')"  ng-model="steamOptions.fps" name="fps" ng-value="'30fps'" role="button"> 30fps
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <div id="pairButton" ng-click="pairSteam()" role="button">
                            PAIR
                        </div>
                    </td>
                    <td>
                        <div id="streamButton" ng-click="launchSteam()" role="button">
                            STREAM
                        </div>
                    </td>
                </tr>
            
            </table>   
            

            <!--
            <div class="form-group">
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.resolution" name="resolution" ng-value="'-1080'"> 1080p</label>
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.resolution" name="resolution" ng-value="'-720'"> 720p</label>
            </div>
             -->

            <!--
            <div class="form-group">
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.fps" name="fps" ng-value="'-60fps'"> 60fps</label>
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.fps" name="fps" ng-value="'-30fps'"> 30fps</label>
            </div>
             -->

</div>