<style>
    #steam-config
    {
        padding: 10px;
        
        background: #333333;
        color: white;
        font-size: 1.5em;
    }
    
    #pair-button
    {
        font-weight: 900;
        height: 50px;
        width: 100%;
        background: #d5ac20;
        
        font-size: 1.8em;
        vertical-align: middle;
        color: white;
        text-align: center;
        
        margin: 10px;
        
        transition: all .1s ease;
        filter: brightness(100%);
        
        -webkit-filter: brightness(100%);
        
        -webkit-transition: all .1s ease;
    }
    
    
    #pair-button:hover
    {   
        
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
    }
    
    #stream-button
    {
        font-weight: 900;
        height: 70px;
        width: 100%;
        background: #51aaeb;
        
        font-size: 2.1em;
        vertical-align: middle;
        color: white;
        text-align: center;

        transition: all .1s ease;
        filter: brightness(100%);
        
        -webkit-filter: brightness(100%);
        
        -webkit-transition: all .1s easet;
    }
    
    
    #stream-button:hover
    {   
        
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
    }
    
    
    input
    {
        color: #333333;   
        text-align: center;
        width: 170px;
    }
    
    .container
    {
        margin: 10px;
    }


</style>

<div ng-controller="steamCtrl">
    
    <div>
        <img src="images/steam2.png" ng-click="switchHideOptions()" role="button"/>
    </div>

    <div id="steam-config" ng-hide="hideOptions">
        <form rol="form" novalidate>

            <div class="container">
                <div id="options-name" class="col-xs-3">
                    IP remota:
                </div>

                <div class="col-xs-5">
                    <input id="ip" type="text" ng-model="steamOptions.remoteIP" ng-value="steamOptions.remoteIP"/>
                    <label for="id"><h4 style="color: red;">{{ getPairValue() }}</h4>
                    </label>
                </div>

                <div class="col-xs-3">
                    <div id="pair-button" ng-click="pairSteam()" role="button">
                        PAIR
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="options-name" class="col-xs-3">
                    <label class="radio-inline">Resolución: </label>
                </div>

                <div class="col-xs-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-lg btn-default" ng-class="getActive('resolution', '-1080')">
                        <input type="radio" ng-model="steamOptions.resolution" name="resolution" ng-value="'-1080'"> 1080p
                        </label>
                        <label class="btn btn-lg btn-default" ng-class="getActive('resolution', '-720')">
                        <input type="radio" ng-model="steamOptions.resolution" name="resolution" ng-value="'-720'"> 720p
                        </label>
                    </div>
                </div>

                <div class="col-xs-6">
                </div>
            </div>

            <div class="container">
                <div id="options-name" class="col-xs-3">    
                    <label class="radio-inline">Imágenes por segundo: </label>
                </div>

                <div class="col-xs-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-lg btn-default" ng-class="getActive('fps', '-60fps')">
                        <input type="radio" ng-model="steamOptions.fps" name="fps" ng-value="'-60fps'"> 60fps
                        </label>
                        <label class="btn btn-lg btn-default" ng-class="getActive('fps', '-30fps')">
                        <input type="radio" ng-model="steamOptions.fps" name="fps" ng-value="'-30fps'"> 30fps
                        </label>
                    </div>
                </div>

                <div class="col-xs-6">
                </div>
            </div>

            <!--
            <div class="form-group">
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.resolution" name="resolution" ng-value="'-1080'"> 1080p</label>
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.resolution" name="resolution" ng-value="'-720'"> 720p</label>
            </div>
             -->

            <!--
            <div class="form-group">
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.fps" name="fps" ng-value="'-60fps'"> 60fps</label>
                <label class="radio-inline"><input type="radio" ng-model="steamOptions.fps" name="fps" ng-value="'-30fps'"> 30fps</label>
            </div>
             -->
            
            <div id ="stream-button"  ng-click="launchSteam()" role="button">
                STREAM
            </div>
            
        </form>
    </div>
    
</div>