<style>

    body {
        font-size: 5em;
    }
    
    .app-div {
        animation: growUp 0.3s ease-in-out;
        margin-bottom: 2vh;
    }
    
    .app-name {
        background: #dddddd;
        color: #333333;
        font-size: 1em;
        padding-left: 1vw;
    }
    
    .app-rect {
        height: 20vh;
        background: #aaaaaa;
    }
    
    @keyframes growUp {
        0% { transform: scale(0); }
        70% {   transform: scale(1.05); }
        100% {   transform: scale(1); }
    }


</style>

<div ng-controller="appsCtrl">

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6 app-div" ng-repeat="app in apps" role="button" ng-click="setAction(app.action)">
            <div class="app-name" role="button">{{ app.name }}</div>
            <div class="app-rect"></div>
        </div>
    </div>
</div>
    
</div>