<style>

    
    body {
        font-size: 4em;
        background: #eeeeee;
    }

    .option {
        margin-left: 3vw;
        margin-right: 3vw;
        padding: 1vw;
        background: #eeeeee;
        
        border-bottom-width: 2px;
        border-bottom-color: #555555;
        border-bottom-style: solid;
        
        height: 300px;
    }
    
    .option-name {
        padding: 2vw;
        font-size: 1em;
        color: #333333;
        font-weight: 600;
    }
    
    .option-description {
        padding-left: 2vw;
        padding-bottom: 1vw;
    }
    
    .option-value {
        padding-top: 1vw;
        float: right;
    }
    
    .input {
        background: #333333;
        color: white;
        outline: none;
        width: 60%;
        height: 80px;
        font-size: 1.3em;
        padding-left: 0vw;
        text-align: center;
        float: right;
    }
    
    .moonlight-radio-button {
        display: inline-block;
        font-size: 1.3em;
        padding: 1vw;
        width: 25vw;
        text-align: center;
        background: #333333;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-radio-button:hover {    
        background: #e9da57;
        text-shadow: 2px 2px #555555;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-radio-button:active {
        transform: scale(0.8);
        transition: 0.3s;
    }
    
    .moonlight-radio-button-selected { 
        display: inline-block;
        font-size: 1.3em;
        padding: 1vw;
        width: 25vw;
        text-align: center;
        background: #e9da57;
        text-shadow: 2px 2px #555555;
        color: white;
        
        transition: all 0.3s ease-in-out;
    }
    
    .button-div {
        margin: 50px;
    }
    
    .moonlight-button {
        text-align: center;
        text-shadow: 2px 2px #555555;
        color: white;
        background: #e9da57;
        margin: 2vw;
        font-size: 1.3em;
        padding: 1vw;
        
        transition: all 0.3s ease-in-out;
    }
    
    .moonlight-button:active {
        transform: scale(0.8);
        transition: 0.3s;
    }

</style> 


<div ng-controller="moonlightMenuCtrl">

    <div class="container-fluid">
        
        <div class="col-md-12 option">
            <div class="option-name">Name</div>

            <div class="option-description">Name to identify the PC.</div>

            <div class="option-value">
                <input class="input" type="text" ng-model="moonlightOptions.name" ng-value="moonlightOptions.name"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 option">
                <div class="option-name">Remote IP</div>
                
                <div class="option-description">This is the IP of the PC which you want connect.</div>
                
                <div class="option-value">
                    <input class="input" id="ip" type="text" ng-model="moonlightOptions.remoteIP" ng-value="moonlightOptions.remoteIP"/>
                </div>
            </div>


            <div class="col-md-12 option">
                <div class="option-name">Resolution</div>

                <div class="option-description">The resolution to stream video game.</div>
                
                <div class="option-value">
                    <div class="moonlight-radio-button" id="1080Radio" ng-click="setActive('resolution', '1080Radio')" name="resolution" role="button"> 1080p</div>
                    <div class="moonlight-radio-button" id="720Radio" ng-click="setActive('resolution', '720Radio')" name="resolution" role="button"> 720p</div>
                </div>
            </div>
            
            <div class="col-md-12 option">
                <div class="option-name">Frames per Second:</div>
                
                <div class="option-description">Images rendered per second on the stream.</div>
                
                <div class="option-value">
                    <div class="inline-radios">
                        <div class="moonlight-radio-button" id="60fpsRadio" ng-click="setActive('fps', '60fpsRadio')" ng-model="moonlightOptions.fps" name="fps" ng-value="'60'" role="button"> 60fps</div>
                        <div class="moonlight-radio-button" id="30fpsRadio" ng-click="setActive('fps', '30fpsRadio')"  ng-model="moonlightOptions.fps" name="fps" ng-value="'30'" role="button"> 30fps</div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-md-12 button-div">
            <div class="moonlight-button" ng-click="pairMoonlight()">PAIR</div>
        </div>
    </div>



</div>