<style>
    
    body {
        font-size: 4em;
        background: #eeeeee;
    }
    
    .device-div {
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .device-image {
        width: 100%;
    }
    
    .device-name {
        text-align: center;
    }
    
    .add-image {
        width: 80%;
        margin-left: 10%;

    }

</style>

<div ng-controller="moonlightDevicesCtrl">

    <div class="container-fluid">
        <div class="col-md-6 col-xs-6" ng-repeat="device in moonlightDevices">
            <div ng-if="device != null" class="device-div">
                <img class="device-image" src="Images/PC.png" ng-click="launchMoonlight($index)">
                <div class="device-name">{{ device.name }}</div>
            </div>
            
            <div ng-if="device == null" class="device-div">
                <img class="add-image" src="Images/add_device.svg" ng-click="addDevice()">
            </div>
        </div>
    </div>

</div>