<style>

    body {
        font-size: 5em;
        /*background: #37445b;
        animation: colorBackgroundUp 0.7s ease-in-out;*/
        background: #cccccc;
    }
    
    .title {
        padding-left: 2vw;
        font-weight: 600;
        font-size: 2em;
        color: #444444;
        margin-top: 4vh;
        margin-bottom: 4vh;
        /*animation: colorTitleUp 0.5s ease-in-out;*/
    }
    
    .option-div {
        animation: growUp 0.3s ease-in-out;
        margin-bottom: 2vh;
    }
    
    
    
    /* BUTTONS ANIMATIONS */
    .apps-id {
        animation: colorAppsUp 0.6s ease-in-out;
        background: #fe5464;
        height: 20vh;
    }
    
    .moonlight-id {
        animation: colorMoonlightUp 0.6s ease-in-out;
        background: #c6ba5b;
        height: 20vh;
    }
    
    .emulators-id {
        animation: colorEmulatorsUp 0.6s ease-in-out;
        background: #a8b66b;
        height: 20vh;
    }
    
    .web-id {
        animation: colorWebUp 0.6s ease-in-out;
        background: #d3924c;
        height: 20vh;
    }
    
    @keyframes growUp {
        0% { transform: scale(0); }
        70% {   transform: scale(1.05); }
        100% {   transform: scale(1); }
    }
    
    @keyframes colorAppsUp {
        0%      { background: #dddddd; }
        50%     { background: #dddddd; }
        100%    { background: #fe5464; }
    }
    
    @keyframes colorMoonlightUp {
        0%      { background: #dddddd; }
        50%     { background: #dddddd; }
        100%    { background: #c6ba5b; }
    }
    
    @keyframes colorEmulatorsUp {
        0%      { background: #dddddd; }
        50%     { background: #dddddd; }
        100%    { background: #a8b66b; }
    }
    
    @keyframes colorWebUp {
        0%      { background: #dddddd; }
        50%     { background: #dddddd; }
        100%    { background: #d3924c; }
    }
    
    
    
    /* BUTTONS NAME ANIMATIONS */
    
    .apps-id-div {
        animation: colorAppsDivUp 0.6s ease-in-out;
        background: #b33543;
        color: white;
        font-size: 1em;
        padding-left: 2vw;
    }
    
    .moonlight-id-div {
        animation: colorMoonlightDivUp 0.6s ease-in-out;
        background: #a49839;
        color: white;
        font-size: 1em;
        padding-left: 2vw;
    }
    
    .emulators-id-div {
        animation: colorEmulatorsDivUp 0.6s ease-in-out;
        background: #869449;
        color: white;
        font-size: 1em;
        padding-left: 2vw;
    }
    
    .web-id-div {
        animation: colorWebDivUp 0.6s ease-in-out;
        background: #b1702a;
        color: white;
        font-size: 1em;
        padding-left: 2vw;
    }
    
    @keyframes colorAppsDivUp {
        0%      { background: #bbbbbb; color: #333333; }
        50%     { background: #bbbbbb; color: #333333; }
        100%    { background: #b33543; color: white; }
    }
    
    @keyframes colorMoonlightDivUp {
        0%      { background: #bbbbbb; color: #333333; }
        50%     { background: #bbbbbb; color: #333333; }
        100%    { background: #c6ba5b; color: white; }
    }
    
    @keyframes colorEmulatorsDivUp {
        0%      { background: #bbbbbb; color: #333333; }
        50%     { background: #bbbbbb; color: #333333; }
        100%    { background: #a8b66b; color: white; }
    }
    
    @keyframes colorWebDivUp {
        0%      { background: #bbbbbb; color: #333333; }
        50%     { background: #bbbbbb; color: #333333; }
        100%    { background: #d3924c; color: white; }
    }
        
        
     
    /* ANIMATIONS BACKGROUND AND TITLE */
    
    @keyframes colorBackgroundUp {
        0%      { background: #eeeeee; }
        50%     { background: #eeeeee; }
        100%    { background: #37445b; }
    }
    
    @keyframes colorTitleUp {
        0%      { color: #444444; }
        50%     { color: #444444; }
        100%    { color: white; }
    }
    
</style>

<div ng-controller="remoteMenuCtrl">

<div class="container-fuid">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h5 class="title">REMOTE CONTROL</h5>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6 option-div" ng-repeat="option in options" role="button" ng-click="setLocation(option.location)">      
            <div class="{{ option.id }}"></div>
            <div class="{{ option.id }}-div">{{ option.name }}</div>
        </div>
    </div>
</div>


</div>