<!DOCTYPE html>
<html ng-app="remoteMCJS">
    <head>
        <title>Media Center JS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="libs/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        
        <script src="libs/angular/angular.min.js"></script>
        <script src="libs/angular/angular-animate.min.js"></script>
        <script src="libs/angular/angular-touch.min.js"></script>
        
        <script src="socket.io/socket.io.js"></script>
        
        <script src="remoteApp.js"></script>
        <script src="Directives/steam_directive.js"></script>
        <script src="Directives/kodi_directive.js"></script>
        <script src="Directives/retropie_directive.js"></script>
        <script src="Directives/netflix_directive.js"></script>
        <script src="Directives/mouse_control_directive.js"></script>
        
        <script src="Controllers/steam_controller.js"></script>
        <script src="Controllers/kodi_controller.js"></script>
        <script src="Controllers/retropie_controller.js"></script>
        <script src="Controllers/netflix_controller.js"></script>
        <script src="Controllers/mouse_control_controller.js"></script>
        
        <script src="Services/socket_services.js"></script>
        
        <style>
            
            #container-header
            {
                background-color: #DDDDDD;
                padding-bottom: 10px;
            }
            
            
            #header-title
            {
                min-height: 120px;
                display: table;
            }
            
            #header-title h1
            { 
                text-align: center;
                color: #333333;
                font-size: 3em;
                font-weight: 600;
                font-family: Times New Roman;
                vertical-align: middle;
                display: table-cell;

                min-height: 100px;
            }
            
            .container-fluid {
                max-width:1170px;
            }
            
            .header-button
            {
                display: block;
                vertical-align: middle;
                width: 100%;
                max-width: 100px;
                
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
                 
                transition: all .1s ease;
                -webkit-transition: all .1s ease;
                filter: brightness(100%);
                -webkit-filter: brightness(100%);
                
            }
            
            .header-button:hover
            {
                filter: brightness(120%);
                -webkit-filter: brightness(120%);
                 max-width: 104px;
            }  
            
            
            #border-hover
            {
                border-style: solid;
                border-color: #d41c3b;
                padding: 0px;
        

                transition: all .3s ease;
                border-width: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
            }

            #border-hover:hover
            {
                transition: all .3s ease;
                border-width: 5px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            
            
        </style>

 
    </head>
    
    <body ng-controller="bodyCtrl" >
        <div id="container-header" class="container-fluid">
            <div id="header" class="col-xs-2">
                <img id="power-button" class="header-button" role="button" src="images/power_off.svg" ng-click="powerOff()"/>
            </div>
            
            <div id="header" class="col-xs-2">
                <img id="mouse-control" class="header-button" role="button" src="images/mouse_control.svg" ng-click="showMouseControl()" ng-show="showAppsDiv"/>
                <img id="mouse-control" class="header-button" role="button" src="images/mouse_control.svg" ng-click="showRemoteControl()" ng-show="showMouseDiv"/>
            </div>
            
            <div id="header" class="col-xs-2">
                <img id="home-button" class="header-button" role="button" src="images/home.svg" ng-click="goHome()"/>
            </div>
            
            <div id="header-title" class="col-xs-6">
              <h1>MEDIA CENTER JS</h1>  
            </div>
        </div>

        <div class="container-fluid" ng-show="showAppsDiv">
            <div id="border-hover" ng-click="onclickApp('kodi')" class="col-xs-12" kodi-app></div>
            <div id="border-hover" ng-click="onclickApp('retropie')" class="col-xs-12" retropie-app></div>
            <div id="border-hover" ng-click="onclickApp('steam')" class="col-xs-12" steam-app></div>
            <div id="border-hover" ng-click="onclickApp('netflix')" class="col-xs-12" netflix-app></div>
        </div>
        
        <div ng-show="showMouseDiv" mouse-control></div>
    
    </body>
</html>